@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";

@layer utilities {

    .bg-clip {
        -webkit-clip-path: polygon(0 0, 98% 0, 73% 100%, 0 100%);
        clip-path: polygon(0 0, 98% 0, 73% 100%, 0 100%);
    }
    .clip-pentagon {
        -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
    .clip-arrow {
        -webkit-clip-path: polygon(0% 0%, 48% 0, 54% 52%, 48% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 48% 0, 54% 52%, 48% 100%, 0% 100%);
    }
    .clip-arrow-r {
        -webkit-clip-path: polygon(100% 0, 53% 0, 46% 48%, 52% 100%, 100% 100%);
        clip-path: polygon(100% 0, 53% 0, 46% 48%, 52% 100%, 100% 100%);
    }
}